#!/bin/bash
set -x

AUDITOR="automated"
DATE=$(date +'%Y-%m-%d')
HOST=$(hostname)
LOG_DIR="/var/log/lynis"
REPORT="$LOG_DIR/report-${HOST}.${DATE}.log"
DATA="$LOG_DIR/report-data-${HOST}.${DATE}.log"
LOG_EXPIRE={{ lynis_log_expire }}

FROM="{{ lynis_report_from }}"
TO="{{ lynis_report_to }}"

INSTANCE_ID=$(curl http://169.254.169.254/latest/meta-data/instance-id)
ACCOUNT_ID=$(curl http://169.254.169.254/latest/meta-data/identity-credentials/ec2/info | jq -r ".AccountId")
REGION=$(curl http://169.254.169.254/latest/meta-data/placement/region)

{% if lynis_deploy_method == "pkg" %}
{% if ansible_os_family == 'Debian' %}
LYNIS_PATH="/usr/sbin/lynis"
{% else %}
LYNIS_PATH="/usr/bin/lynis"
{% endif %}
$LYNIS_PATH audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}
{% else %}
cd /opt/lynis
{% if lynis_deploy_method == "git" %}
git pull
{% endif %}
./lynis audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}
{% endif %}
mv /var/log/lynis-report.dat ${DATA}

find $LOG_DIR -type f -mtime +$LOG_EXPIRE -delete -print

echo "Lynis audit for ${HOST} on ${DATE}: ${REPORT} $(cat ${REPORT})" |
/usr/bin/mail -s "${ACCOUNT_ID} | ${REGION} | ${INSTANCE_ID} | ${HOST} : Lynis audit (${DATE})" -r ${FROM} ${TO}